#menu {
    width: 100%;
    min-height: calc(100vh - 55px);
    box-sizing: border-box;
    padding: 35px 0 0 40px;
    align-items: start;

    a {
        color: hsl(var(--muted-foreground));
        font-weight: 300;
        margin: 8px 0;
        font-size: 16px;
        font-family: var(--font-sans);
        transition: 150ms ease-in-out;

        &:hover {
            color: #fff;
        }
    }
}