.stat {
    margin: 12px 0 12px 10px;
    min-width: max-content;

    p {
        font-size: 14px;
        margin-left: 10px;
    }
}

#description {
    margin: 10px 0 15px;
    white-space: pre-line;
}
